# =========================
# GLOBAL
# =========================
NODE_ENV=development

# =========================
# API
# =========================
API_PORT=3000
JWT_SECRET=supersecret
JWT_EXPIRES_IN=12h

# =========================
# DB
# =========================
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_DB=audiobook

MONGO_URI=mongodb://admin:password@db:27017/audiobook?authSource=admin

# =========================
# STORAGE
# =========================
AUDIOBOOKS_PATH=/data/audiobooks

# =========================
# FRONTEND
# =========================
FRONTEND_PORT=4200